
body {
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
}

.card {
  height: 100%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card .btn {
  margin-right: 5px;
}

.detalle-img {
  max-height: 400px;
  width: 100%;
  object-fit: contain;
}


footer {
  margin-top: 40px;
}